.container {
    padding-right: 15vw;
    padding-left: 15vw;
    margin-right: auto;
    margin-left: auto;
    background: rgb(230, 232, 233);
    width: 80vw;
    height: 95vh;
  }
  
.row {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
